body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dce7f1;
}

.navbar {
    background-color: #465e75; 
    color: #fff; 
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    height: 60px;
}

.navbar h1 {
    font-size: 30px;
    margin: 0;
    margin-left: 15px; 
}

.container {
    text-align: center;
    padding: 30px;
    margin: 5%;
    /* margin-right: 50px;
    margin-left: 50px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

section{
    display: flex;
}

p{
    padding: 15px;
    font-size: 18px;
}

.container p {
    font-size: 18px;
    margin: 10px 0;
}

img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 40px;
    margin: 10px auto;
    margin-left: 5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

i{
    padding-right: 2px;
}

button{
    border-radius: 10px;
    padding: 15px;
    border: none;
    background-color: #465e75;
    margin-bottom: 20px;
}

button:hover{
    background-color: #64798f;
}
